---
title: Service Instance Manager for PCF (Beta)
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial '../../sim/partials/branding-change' %>

<%= partial '../../sim/partials/pcf-name-change' %>

<p class="note warning"><strong>Warning:</strong> <%= vars.product_full %> is currently in beta and and might not receive long-term support.
</p>

This documentation describes the <%= vars.product_full %>.
<%= vars.product_short %> enables operators to more easily manage large numbers of service instances.


## <a id="overview"></a>Overview

<%= vars.product_short %> gathers information about service instances from multiple cloud foundries
through the CF API and presents this information in a web UI.
From here, operators can view, filter, and delete service instances.


## <a id="features"></a>Key Features

Through <%= vars.product_short %>, operators can:

* View and filter service instances by foundation, org, space, service offering, status,
  service keys, service bindings, and bound apps
* Delete service instances


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>App version</td>
        <td>v0.3.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 6, 2019</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Operations Manager versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service versions</td>
        <td>All</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

<%= vars.product_short %> has the following requirements:

* <%= vars.platform_name %> (formerly <%= vars.platform_old %>)
* [User Account and Authentication (UAA) server](https://docs.pivotal.io/pivotalcf/uaa/uaa-overview.html)

## <a id="limitations"></a>Limitations

<%= vars.product_short %> has been tested with 2000 Cloud Foundry service instances across two Cloud Foundries.
Higher numbers might impact the performance of Cloud Foundry due to the large number of requests made to the Cloud Controller.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about an issue, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or
send an email to [Fleet Management](mailto:fleet-management@pivotal.io.).
