---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-7-0"></a> v0.7.0

**Release Date:** MMM DD, YYYY

### Features

New features and changes in this release:

* A new Service Consumption Dashboard allows you learn about service consumption patterns across all targeted foundations.
See [Service Consumption Dashboard](./using.html#service-consumption).

### Resolved Issues

This release has the following fix:


### Known Issues

This release has the following issues:

* When targeting a <%= vars.platform_name %> foundation with more than 2000 thousands of
service instances, <%= vars.product_short %> can deny service to the Cloud Controller.
This might cause the Cloud Controller to be slow to respond to requests, or not respond at all.
For how to troubleshoot this issue,
see [The Cloud Controller is Slow to Respond to Requests](./installing.html#cc-unresponsive).

* Targeting more than 5 <%= vars.platform_name %> foundations can
result in a status code error, `431 Request Header Fields Too Large`.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
