---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="0-7-0"></a> v0.7.0

**Release Date:** January 3, 2020

### Features

New features and changes in this release:

* Added a Service Consumption Dashboard, which displays information about service consumption patterns across
all targeted foundations.
For more information, see [View Consumption of Service Instances](./using.html#service-consumption).

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + '/sim/ki-too-many-service-instances' %>

* Targeting more than five <%= vars.platform_name %> foundations can
result in the status code error `431 Request Header Fields Too Large`.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
