---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/branding-change' %>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-3-0"></a> v0.3.0

**Release Date:** September 6, 2019

### Features

New features and changes in this release:

* First public release of <%= vars.product_full %>
* View all service instances from across multiple <%= vars.platform_name %> foundations
* Search for a specific service instance to speed up troubleshooting
* Filter service instances by name, ID, org, space, foundation, and bound apps
* Filter for service instances that are candidates for cleanup
* Log in with Cloud Foundry credentials
* Support for enterprise identity providers

### Known Issues

This release has the following issues:

<%= partial vars.path_to_partials + '/sim/ki-too-many-service-instances' %>

* The error message `[OUT] TypeError: Cannot read property 'imageUrl' of null` shows
on foundations that do not provide the `imageUrl` field for a service offering.

* When logged in with a user that has audit (read-only) access to a service instance, attempting to delete the service instance triggers a JSON error message.

* The instructions in the installation script and README file in the release
  artifact do not include the `cloud_controller.admin` scope on the UAA client that
  you create in each target foundation.
  Depending on how you have created the orgs and spaces in your foundations,
  you might require this scope to allow an admin user to see all
  service instances in <%= vars.product_short %>.<br><br>

    To avoid this issue, Pivotal recommends that existing users update their SIM UAA clients to include this scope.
    To do this, see [<%= vars.product_short %> Is Not Showing All Service Instances](./installing.html#instances-not-shown).


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
