---
title: Release Notes for Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

<%= partial vars.path_to_partials + '/pcf-name-change' %>

##<a id="0-4-0"></a> v0.4.0

**Release Date:** October 23, 2019


### Features

New features and changes in this release:

- <%= vars.product_full %> now shows the age of each service instance and the
time since the instance was last updated.
- Added the filters `older_than` and `younger_than` so that you can filter service instances by age.
For more information, see <a href="using.html#filter-instances">Filter Service Instances</a>.


### Resolved Issues

This release has the following fix:

* When logged in with a user that has audit (read-only) access to a service instance,
attempting to delete the service instance no longer triggers a JSON error message.


### Known Issues

This release has the following issues:

- When installing Service Instance Manager using the `install.sh` script,
the UAA instructions that are printed to the terminal tell you to run `uaac client token get`.
This is incorrect.
The correct command is `uaac token client get`.

- When targeting a <%= vars.platform_name %> foundation with tens of thousands of
service instances, <%= vars.product_short %> can deny service to the Cloud Controller.
This might cause the Cloud Controller to be slow to respond to requests, or not respond at all.
For how to troubleshoot this issue, see [The Cloud Controller is Slow to Respond to Requests](./installing.html#cc-unresponsive).

* The error message `[OUT] TypeError: Cannot read property 'imageUrl' of null` shows
on foundations that do not provide the `imageUrl` field for a service offering.

* The instructions in the installation script and README file in the release
  artifact do not include the `cloud_controller.admin` scope on the UAA client that
  you create in each target foundation.
  Depending on how you have created the orgs and spaces in your foundations,
  you might require this scope to allow an admin user to see all
  service instances in <%= vars.product_short %>.<br><br>

    To avoid this issue, Pivotal recommends that existing users update their SIM UAA clients to include this scope.
    To do this, see [<%= vars.product_short %> Is Not Showing All Service Instances](./installing.html#instances-not-shown).


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
