---
title: Using Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

This topic describes how to use <%= vars.product_full %>
to view and delete service instances across <%= vars.platform_name %> foundations.

## <a id="login"></a> Log in to <%= vars.product_short %>

Follow the steps below to log in to <%= vars.product_short %>.

1. Open a web browser and go to
<code>https<span>:</span>//service-instance-manager.YOUR-PIVOTAL-PLATFORM-FOUNDATION-URL</code>.

1. Log in with the email address and password you use for that <%= vars.platform_name %> foundation.

     <%= image_tag("images/cf-login-page.png", :alt => "Cloud Foundry login page", :width => "250") %>
  * If this is the only <%= vars.platform_name %> foundation that <%= vars.product_short %> is configured to target, the <%= vars.product_short %> UI appears.
  * If <%= vars.product_short %> is configured to target any other <%= vars.platform_name %> foundations, you are redirected to the
      login page for the next foundation listed in `config.json`. Redirects continue until you have logged in
      to every foundation that <%= vars.product_short %> targets.

1. Log in to each <%= vars.platform_name %> foundation until the the <%= vars.product_short %> UI appears.

## <a id="filter-instances"></a> Filter Service Instances

You can filter service instances by a variety of properties.

* To filter by name or GUID, enter a name or GUID in the search field.

    <%= image_tag("images/search-by-name.png", :alt => "A name in the search field") %>

* To filter by a category, enter the query in the search field in the format `FILTER:VALUE`.<br><br>

    <%= image_tag("images/filter-by-status.png", :alt => "Status filter in the search field") %>

    The available filters and examples of each are shown in the table below.

    <table>
        <thead>
        <tr>
        <th width="50%"><strong>Filter</strong></th>
        <th><strong>Example</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><code>app:BOUND-APP-NAME</code></td>
        <td><code>app:go-app-45</code></td>
        </tr>
        <tr>
        <td><code>foundation:FOUNDATION-NAME</code></td>
        <td><code>foundation:Bluemonday</code></td>
        </tr>
        <tr>
        <td><code>org:ORG-NAME</code></td>
        <td><code>org:acceptance</code></td>
        </tr>
        <tr>
        <td><code>space:SPACE-NAME</code></td>
        <td><code>space:acceptance</code></td>
        </tr>
        <tr>
        <td><code>service:SERVICE-OFFERING-NAME</code></td>
        <td><code>service:p-redis</code></td>
        </tr>
        <tr>
        <td><code>status:ok</code> and <code>status:error</code></td>
        <td style="text-align:center"><em>n/a</em></td>
        </tr>
        <tr>
        <td><code>keys:true</code> and <code>keys:false</code></td>
        <td style="text-align:center"><em>n/a</em></td>
        </tr>
        <tr>
        <td><code>bindings:true</code> and <code>bindings:false</code></td>
        <td style="text-align:center"><em>n/a</em></td>
        </tr>
        <tr>
        <td><code>younger_than:</code> and <code>older_than:</code></td>
        <td><code>younger_than:4y2m</code>, <code>older_than:2w6d</code><br>
        Filter by y (years), m (months), w (weeks), and d (days).</td>
        </tr>
        </tbody>
    </table>

    <p class="note"><strong>Note:</strong> <code>status</code>, <code>keys</code>, and <code>bindings</code>
      can only be used with the values shown in the <strong>Filter</strong> column.
    </p>

* You can also filter by clicking on a filter bubble below the search field.


## <a id="delete-instances"></a> Delete Service Instances

<%= vars.product_short %> enables you to either delete individual service instances,
or delete multiple service instances based on a search or filter.

<p class="note"><strong>Note:</strong>
  <%= vars.product_short %> does not allow you to delete a service instance with
  service bindings, service keys, or route associations.
</p>

**To delete an individual service instance:**

1. Click the service instance that you want to delete.
1. Click **DELETE** at the bottom-right of the service instance card.
1. Click **DELETE** in the warning pop-up.
<br><br>

**To delete multiple service instances:**

1. Filter for the service instances that you want to delete.
For instructions, see [Filter Service Instances](#filter-instances).

1. Click **DELETE ALL**.

    ![](multi-delete.png)

    <p class="note"><strong>Note:</strong>
      If any service instances in your filter have bindings or service keys,
      <%= vars.product_short %> displays a warning pop-up which allows you to
      delete only the unbound service instances from your search.</p>

1. Click **DELETE** in the warning pop-up.
