---
title: Using Pivotal Service Instance Manager
owner: Fleet Management
---

<strong><%= modified_date %></strong>

This topic describes how to use <%= vars.product_full %>
to view and delete service instances across <%= vars.platform_name %> foundations.

## <a id="login"></a> Log in to <%= vars.product_short %>

Follow the steps below to log in to <%= vars.product_short %>.

1. Open a web browser and go to
<code>https<span>:</span>//service-instance-manager.YOUR-PIVOTAL-PLATFORM-FOUNDATION-URL</code>.

1. Log in with the email address and password you use for that <%= vars.platform_name %> foundation.

     <%= image_tag("images/cf-login-page.png", :alt => "Cloud Foundry login page", :width => "250") %>
  * If this is the only <%= vars.platform_name %> foundation that <%= vars.product_short %> is configured to target, the <%= vars.product_short %> UI appears.
  * If <%= vars.product_short %> is configured to target any other <%= vars.platform_name %> foundations, you are redirected to the
      login page for the next foundation listed in `config.json`. Redirects continue until you have logged in
      to every foundation that <%= vars.product_short %> targets.

1. Log in to each <%= vars.platform_name %> foundation until the the <%= vars.product_short %> UI appears.

## <a id="filter-instances"></a> Filter Service Instances

You can filter service instances by a variety of properties.

* To filter by service instance name or GUID, enter a name or GUID in the search field.

    <%= image_tag("images/search-by-name.png", :alt => "A name in the search field") %>

* To filter by a category, enter the query in the search field in the format
`FILTER:VALUE`, or filter by clicking on a filter tag below the search field.<br><br>

    <%= image_tag("images/filter-by-status.png", :alt => "Status filter in the search field") %>

    The available filters and their associated tags are shown in the table below.

    <table>
        <thead>
        <tr>
        <th width="35%"><strong>Searching by...</strong></th>
        <th width="25%"><strong>Type or Click</strong></th>
        <th><strong>Filters for instances that...</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><code>app:BOUND-APP-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Have the specific app bound to them.<br>
          For example: <code>app:go-app-45</code></td>
        </tr>
        <tr>
        <td><code>foundation:FOUNDATION-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Are in a specific foundation.<br>
          For example: <code>foundation:Bluemonday</code></td>
        </tr>
        <tr>
        <td><code>org:ORG-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Are in a specific org.<br>
          For example: <code>org:acceptance</code></td>
        </tr>
        <tr>
        <td><br><code>space:SPACE-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Are in a specific space.<br>
          For example: <code>space:acceptance</code></td>
        </tr>
        <tr>
        <td><code>service:SERVICE-OFFERING-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Are of a specific service offering.<br>
          For example: <code>service:p-redis</code></td>
        </tr>
        <tr>
        <td><code>plan:PLAN-NAME</code></td>
        <td>Either type the filter or click the tag</td>
        <td>Are of a specific service plan.<br>
          For example: <code>plan:standard</code></td>
        </tr>
        <tr>
        <td><code>status:ok</code></td>
        <td>Type the filter</td>
        <td>The last operation succeeded.</td>
        </tr>
        <tr>
        <td><code>status:error</code></td>
        <td>Type the filter</td>
        <td>The last operation failed. The status of these instances can be one of:
          <ul>
            <li><code>create failed</code></li>
            <li><code>delete failed</code></li>
            <li><code>update failed</code></li>
          </ul>
        </td>
        </tr>
        <tr>
        <td><code>failing</code</td>
        <td>Click the tag</td>
        <td>The last operation failed. The status of these instances can be one of:
          <ul>
            <li><code>create failed</code></li>
            <li><code>delete failed</code></li>
            <li><code>update failed</code></li>
          </ul>
        </td>
        </tr>
        <tr>
        <td><code>keys:true</code></td>
        <td>Type the filter</td>
        <td>Have service keys.</td>
        </tr>
        <tr>
        <tr>
        <td><code>keys:false</code></td>
        <td>Type the filter</td>
        <td>Do not have service keys.</td>
        </tr>
        <tr>
        <td><code>bindings:true</code></td>
        <td>Type the filter</td>
        <td>Are bound to apps.</td>
        </tr>
        <tr>
        <td><code>bindings:false</code></td>
        <td>Type the filter</td>
        <td>Are not bound to apps.</td>
        </tr>
        <tr>
        <td><code>unbound</code></td>
        <td>Click the tag</td>
        <td>Do not have service keys and are not bound to apps.</td>
        </tr>
        <tr>
        <tr>
        <td><code>younger_than:</code></td>
        <td>Type the filter</td>
        <td>Were created before a specific time.
          You can filter by:
          <ul>
            <li>Years: <code>y</code></li>
            <li>Months: <code>m</code></li>
            <li>Weeks: <code>w</code></li>
            <li>Days: <code>d</code></li>
          </ul>
          For example: <code>younger_than:4y2m</code>
        </td>
        </tr>
        <tr>
        <td><code>older_than:</code></td>
        <td>Type the filter</td>
        <td>Were created after a specific time.
          You can filter by:
          <ul>
            <li>Years: <code>y</code></li>
            <li>Months: <code>m</code></li>
            <li>Weeks: <code>w</code></li>
            <li>Days: <code>d</code></li>
          </ul>
          For example: <code>older_than:2w6d</code>
        </td>
        </tr>
        </tbody>
    </table>
    <br>

    You also can combine the above filters to further narrow your search.
    <br><br>
    For example:

    ```
    foundation:Bluemonday older_than:2w6d
    ```
    <p class="note"><strong>Note:</strong> <code>status</code>, <code>keys</code>, and <code>bindings</code>
      can only be used with the values shown in the <strong>Searching by…</strong> column.
    </p>


## <a id="service-consumption"></a> View Consumption of Service Instances

The Service Consumption Dashboard provides a filtered overview of your foundations and service instances.
The dashboard is made up of summary boxes and a graph.
By default, the graph shows a summary of the bound states of instances by foundation.

To view a summary of instance consumption:

1. (Optional) To filter service instances,
    see [Filter Service Instances](#filter-instances) above. <br>
    This changes the summary boxes, which provides information about:
      + **Foundations:** This is the total number of foundations.
      + **Orgs:** This is the total number of orgs.
      + **Offerings:** This is the total number of available service offerings.
      + **Instances:** This is the total number of instances.
      + **Unbound:** This is the total number of unbound instances.
      + **Failed:** This is the total number of failed operations.

1. Select an option from the **For each** dropdown.<br>
    You can group the bars by:
    + **Foundation:** This shows the consumption of instances by foundation.
    + **Org:** This shows the consumption of instances by org.
    + **Service offering:** This shows the instances of a given service offering.
    + **Bound state:** This shows the number of bound and unbound instances.
    + **Last operation status:** This shows the number of running and errored instances.

1. Select an option from the **Show** dropdown.<br>
    You can segment the bars to show:
    + **Service offering**
    + **Bound status**
    + **Last operation status**

1. Click on a bar to apply the filters and restrict the search results to that subset of Service Instances.<br>

The animated GIF below shows the **Service Consumption** summary boxes and graph. <br> <br>
<%= image_tag("images/consumption.gif", :alt => "Service Consumption summary") %>

<a href="./images/consumption.gif" target="_blank">See a larger version of this animated GIF.</a>

## <a id="delete-instances"></a> Delete Service Instances

<%= vars.product_short %> enables you to either delete individual service instances
or delete multiple service instances based on a search or filter.
You cannot delete service instances with service bindings, service keys, or route associations.

To delete service instances:

1. Filter for service instances without service bindings, service keys.
You can filter further if necessary.
For instructions on how to use these filters others, see [Filter Service Instances](#filter-instances) above.

1. Use the checkboxes to select the instances you want to delete.

1. Click **DELETE**.

1. Click **DELETE** in the delete service instance dialog box.
  ![](delete-dialog.png)
